body{
    -webkit-animation: scale-up-center 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background: url(https://wallpaperaccess.com/full/149797.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color:white;
    margin-top:20px;
}

#start{
    margin-bottom:30px;
    width:1500px;
    background-color:grey;
    height:70px;
    padding: 5px;
    border-radius:3px;
    border-bottom:3px solid white;
    opacity:0.6;
    color:black;
}
header{
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
}

header h3{
font-size: 25px;
}
nav{
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
}

nav h3{
font-size: 25px;
}
main{
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
  border-top: 8px solid white;
  margin-top: 15px;
}

main h3{
font-size: 25px;
}

.opcja{
  text-align:center;
    float:left;
    min-width:75px;
    padding:25px;
    height:25px;
    font-size:18px;
}
#footer{
    margin-bottom:30px;
    width:1500px;
    background-color:black;
    height:70px;
    padding: 5px;
    border-radius:3px;
    border-bottom:3px solid white;
    opacity:0.8;
    color:white;
    margin-top: 15px;
}
#footer span{
color: red;
}

.option{
    text-align:center;
    float:right;
    min-width:75px;
    padding:25px;
    height:25px;
    font-size:18px;
}
.optionL{
    letter-spacing:2px;
    float:left;
    padding:25px;
    font-size:25px;
    color: white;
    
}

.option:hover{
    border-radius:3px;
    cursor:pointer;
    background-color:#303030;
    color:#dbdbdb;
    transition:0.7s;
    
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }


